.App {
  /* text-align: center; */
  display: flex;
  background: #d7eadd;
   color: #498553;
}

.wrapper-sidebar-quran {
  height: 96vh;
  overflow-y: scroll;
  display: block;
  flex: 2;
  position: sticky;
  top: 0;
}
.wrapper-sidebar-quran::-webkit-scrollbar {
  background: #e9f3ed;
  width: 7px;
  border-radius: 100px;
}
.wrapper-sidebar-quran::-webkit-scrollbar-thumb {
  background: #498553;
  border-radius: 100px;
}
.wrapper-main-quran {
  flex: 10;
  display: block;
  overflow-y: scroll;
  padding: 5px;
  position: sticky;
  top: 0;
  height: 99vh;
}
.wrapper-main-quran::-webkit-scrollbar {
  background: #e9f3ed;
  width: 7px;
  border-radius: 100px;
}
.wrapper-main-quran::-webkit-scrollbar-thumb {
  background: #498553;
  border-radius: 100px;
  height: 85px;
}

@media screen and (max-width:768px) {
  .App{
    display: flex;
    flex-direction: column;
  }
  .wrapper-sidebar-quran{
    display: flex;
  }
  .wrapper-sidebar-quran::-webkit-scrollbar{
    height: 5px;
  }
}